
<div class="container">

<%# <h1>Article:</h1> %>
<%# <div class="p-3 bg-info bg-opacity-10 border border-info border-start-0 rounded"> %>
<p style="color:#d63e2d; font-size: 40px;"><%= @article.title %></p>
<div class="border border-success p-2 border-opacity-25 rounded">
<p><%= markdown @article.body%></p>
</div>
</div>