
<div class="container">

<%# <h1>Article:</h1> %>
<%# <div class="p-3 bg-info bg-opacity-10 border border-info border-start-0 rounded"> %>
<div class="border border-success p-2 border-opacity-25">
<p><%= @article.title%></p>
<p><%= markdown @article.body%></p>
</div>
</div>